{{>header}}
<h1>Lista de Pokemons</h1>

<table>
    <tr><th>Nombre</th><th>Tipo</th></tr>
    {{#pokemons}}
    <tr><td><a href="/web/pokemon/{{id}}">{{name}}</a></td><td>{{type}}</td></tr>
    {{/pokemons}}
</table>

{{>footer}}